<div class="home">
    <h1>Looking to escape reality?</h1>
<button class="btn-blue"><%= link_to "Sign Up To Our Newsletter", newsletter_path, class: "btnSub", style: "text-decoration:none; color:white;" %></button>


<% if flash[:success].present? %>
  <p class="success" style='color:green'>
      <%= flash[:success]%>
  </p>
<% end %>


<figure>
    <a href="https://store.steampowered.com/app/1491490/Cosmonious_High/"><img src="assets/cosmonioushigh" alt="cosmonious high"></a>
</figure>
<figure>
    <a href="https://store.steampowered.com/app/2081470/Red_Matter_2/"><img src="assets/redmatter2" alt="red matter 2"></a>
</figure>
<figure>
    <a href="https://store.steampowered.com/app/412740/Audioshield/"><img src="assets/audioshield" alt="audioshield"></a>
</figure>

