<hr />

<div class="home">
    <h1>Looking to escape reality?</h1>

        <button>Sign Up To Our Newsletter</button>
        <% if @current_user.present?%>
    <p>Welcome user: <%= @current_user.email %></p>

    <% end %>
</div>