<div class="home">
    <h1>Looking to escape reality?</h1>
<button class="btn-blue"><%= link_to "Sign Up To Our Newsletter", newsletter_path, class: "btnSub", style: "text-decoration:none; color:white;" %></button>


<% if flash[:success].present? %>
  <p class="success" style='color:green'>
      <%= flash[:success]%>
  </p>
<% end %>


<figure>
    <img src="https://res.cloudinary.com/dspewejua/image/upload/v1676869215/IMAGE_2023-02-20_11_07_51_1_md5kp1.png" alt="daily deal">
</figure>
<figure>
    <img src="https://res.cloudinary.com/dspewejua/image/upload/v1676869209/IMAGE_2023-02-20_11_09_11_1_rtsrqa.png" alt="red matter 2">
</figure>
<figure>
    <img src="https://res.cloudinary.com/dspewejua/image/upload/v1676869202/IMAGE_2023-02-20_11_10_41_1_jhbajx.png" alt="audioshield">
</figure>

