<div class='headerNewsletters'>Newsletters</div>
<div class=containerNewsletters>
<h3 class='headingNewsletters'>Our newsletters will transport you to a whole new world of news and updates</h3>
<div class="signup">
  <% if flash[:error].present? %>
    <ol class="error">
        <% flash[:error].split(',').each do |msg| %>
            <li  style='color:red'><%= msg %></li>
        <% end %>
    </ol>
  <% end %>
 <div class='totheleft'><p style='font-weight:bold;'>Enter your details</p></div>
  <%= render :partial => 'form' %>
</div>

</div>


<script>


subscriptionField = document.querySelector('#subscriber_subscription');

dailydeal = document.querySelector('.dailydeal')
saveworld = document.querySelector('.saveworld')
choosechar = document.querySelector('.choosechar')
dailydealMinus = document.querySelector('.dailydealMinus')
saveworldMinus = document.querySelector('.saveworldMinus')
choosecharMinus = document.querySelector('.choosecharMinus')




dailydeal.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Daily Deal")){
    dailydeal.textContent = 'Unselect this newsletter'
    dailydealMinus.textContent = "\u2713"
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Daily Deal';
    }
    else {subscriptionField.value = 'Daily Deal'}
  }
  else {
    dailydeal.textContent = 'Select this newsletter'
    dailydealMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Daily Deal', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

saveworld.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Save Your World Pack")){
    saveworld.textContent = 'Unselect this newsletter'
    saveworldMinus.textContent = "\u2713"
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Save Your World Pack';
    }
    else {subscriptionField.value = 'Save Your World Pack'}
  }
  else {
    saveworld.textContent = 'Select this newsletter'
    saveworldMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Save Your World Pack', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

choosechar.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Choose Your Character Pack")){
    choosechar.textContent = 'Unselect this newsletter'
    choosecharMinus.textContent = "\u2713"
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Choose Your Character Pack';
    }
    else {subscriptionField.value = 'Choose Your Character Pack'}

  }
  else {
    choosechar.textContent = 'Select this newsletter'
    choosecharMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Choose Your Character Pack', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

dailydealMinus.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Daily Deal")){
    dailydeal.textContent = 'Unselect this newsletter'
    dailydealMinus.textContent = "\u2713"
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Daily Deal';
    }
    else {subscriptionField.value = 'Daily Deal'}
  }
  else {
    dailydeal.textContent = 'Select this newsletter'
    dailydealMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Daily Deal', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

saveworldMinus.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Save Your World Pack")){
    saveworld.textContent = 'Unselect this newsletter'
    saveworldMinus.textContent = "\u2713"
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Save Your World Pack';
    }
    else {subscriptionField.value = 'Save Your World Pack'}
  }
  else {
    saveworld.textContent = 'Select this newsletter'
    saveworldMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Save Your World Pack', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

choosecharMinus.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Choose Your Character Pack")){
    choosechar.textContent = 'Unselect this newsletter'
    choosecharMinus.textContent = "\u2713"
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Choose Your Character Pack';
    }
    else {subscriptionField.value = 'Choose Your Character Pack'}

  }
  else {
    choosechar.textContent = 'Select this newsletter'
    choosecharMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Choose Your Character Pack', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})


</script>