<div>Newsletters</div>

<p>Our newsletters will transport you to a whole new world of news and updates</p>
<div class="signup">
  <% if flash[:error].present? %>
    <ol class="error">
        <% flash[:error].split(',').each do |msg| %>
            <li  style='color:red'><%= msg %></li>
        <% end %>
    </ol>
  <% end %>
  <p>Enter your details</p>
  <%= render :partial => 'form' %>
</div>




<script>


const subscriptionField = document.querySelector('#subscriber_subscription');

const dailydeal = document.querySelector('.dailydeal')
const saveworld = document.querySelector('.saveworld')
const choosechar = document.querySelector('.choosechar')
const dailydealMinus = document.querySelector('.dailydealMinus')
const saveworldMinus = document.querySelector('.saveworldMinus')
const choosecharMinus = document.querySelector('.choosecharMinus')




dailydeal.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Daily Deal")){
    dailydeal.textContent = 'Unselect this newsletter'
    dailydealMinus.textContent = '-'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Daily Deal';
    }
    else {subscriptionField.value = 'Daily Deal'}
  }
  else {
    dailydeal.textContent = 'Select this newsletter'
    dailydealMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Daily Deal', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

saveworld.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Save Your World Pack")){
    saveworld.textContent = 'Unselect this newsletter'
    saveworldMinus.textContent = '-'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Save Your World Pack';
    }
    else {subscriptionField.value = 'Save Your World Pack'}
  }
  else {
    saveworld.textContent = 'Select this newsletter'
    saveworldMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Save Your World Pack', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

choosechar.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Choose Your Character Pack")){
    choosechar.textContent = 'Unselect this newsletter'
    choosecharMinus.textContent = '-'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Choose Your Character Pack';
    }
    else {subscriptionField.value = 'Choose Your Character Pack'}

  }
  else {
    choosechar.textContent = 'Select this newsletter'
    choosecharMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Choose Your Character Pack', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

dailydealMinus.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Daily Deal")){
    dailydeal.textContent = 'Unselect this newsletter'
    dailydealMinus.textContent = '-'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Daily Deal';
    }
    else {subscriptionField.value = 'Daily Deal'}
  }
  else {
    dailydeal.textContent = 'Select this newsletter'
    dailydealMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Daily Deal', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

saveworldMinus.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Save Your World Pack")){
    saveworld.textContent = 'Unselect this newsletter'
    saveworldMinus.textContent = '-'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Save Your World Pack';
    }
    else {subscriptionField.value = 'Save Your World Pack'}
  }
  else {
    saveworld.textContent = 'Select this newsletter'
    saveworldMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Save Your World Pack', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

choosecharMinus.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Choose Your Character Pack")){
    choosechar.textContent = 'Unselect this newsletter'
    choosecharMinus.textContent = '-'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Choose Your Character Pack';
    }
    else {subscriptionField.value = 'Choose Your Character Pack'}

  }
  else {
    choosechar.textContent = 'Select this newsletter'
    choosecharMinus.textContent = '+'
    subscriptionField.value = subscriptionField.value.replace('Choose Your Character Pack', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})


</script>