<div>Newsletters</div>

<p>Our newsletters will transport you to a whole new world of news and updates</p>
<div class="signup">
  <% if flash[:error].present? %>
    <ol class="error">
        <% flash[:error].split(',').each do |msg| %>
            <li  style='color:red'><%= msg %></li>
        <% end %>
    </ol>
  <% end %>
  <p>Enter your details</p>
  <%= render :partial => 'form' %>
</div>




<script>


const subscriptionField = document.querySelector('#subscriber_subscription');

const dailydeal = document.querySelector('.dailydeal')
const redmatter2 = document.querySelector('.redmatter2')
const audioshield = document.querySelector('.audioshield')




dailydeal.addEventListener("click", function() {
  event.preventDefault
  if (!subscriptionField.value.includes("Daily Deal")){
    dailydeal.textContent = 'Unselect this newsletter -'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Daily Deal';
    }
    else {subscriptionField.value = 'Daily Deal'}
  }
  else {
    dailydeal.textContent = 'Select this newsletter +'
    subscriptionField.value = subscriptionField.value.replace('Daily Deal', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

redmatter2.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Red Matter 2")){
    redmatter2.textContent = 'Unselect this newsletter -'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Red Matter 2';
    }
    else {subscriptionField.value = 'Red Matter 2'}
  }
  else {
    redmatter2.textContent = 'Select this newsletter +'
    subscriptionField.value = subscriptionField.value.replace('Red Matter 2', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})

audioshield.addEventListener("click", function() {
  if (!subscriptionField.value.includes("Audioshield")){
    audioshield.textContent = 'Unselect this newsletter -'
    if (subscriptionField.value.length > 0){
      subscriptionField.value = subscriptionField.value + ', Audioshield';
    }
    else {subscriptionField.value = 'Audioshield'}

  }
  else {
    audioshield.textContent = 'Select this newsletter +'
    subscriptionField.value = subscriptionField.value.replace('Audioshield', '')
    subscriptionField.value = subscriptionField.value.replace(', , ', ', ')
  }
  if (subscriptionField.value.substring(0, 2) === ', ') {
    subscriptionField.value = subscriptionField.value.substring(2)
  }
  if (subscriptionField.value.slice(-2) === ', ') {
    subscriptionField.value = subscriptionField.value.slice(0, -2)
  }
})



</script>