/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
    padding: 0;
 }
 .login {
    text-align: right;
    color: white;
}

.container {
    text-align: center;
    text-align: -webkit-center;
    color: white;
}

html body {
    background-color: #1E1E1E;
    padding: 0;
}
 .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    display: contents;
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav a {
    display: block;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
  }
  
  .topnav a.icon {
    background: black;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;

  }
  
  .topnav a.icon:hover {
    background-color: #ddd;
    color: black;
  }

  .btnLogin {
    float: right;
    float: top;
    background-color: blue;
    height: 100%;
  }
  .btnLogin > a {
    color: white;
    text-decoration:none;
  }

  button {
    background-color: blue;
    height: 100%;
    color:white;
  }
  button > a {
    color: white;
    text-decoration:none;
  }

  input[type="submit"] {
    background-color: blue;
    color:white;
  }
  .topnav .menu-icon {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    margin-right: 10px;
  }
  .topnav #myLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }  
  .topnav li {
    display: inline-block;
    margin: 0 10px;
  }
  .topnav ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .topnav #myLinks {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .topnav #myLinks li {
    display: inline-block;
  }

  #myLinks > li > a {
    color:white
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-links li:last-child {
    margin-right: 0;
  }

  figcaption {
    display:flex;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  figure {
    display: flex;
    width:500px;
    flex-direction: column;
  }

  .labelSignup {
    display: none;
  }

  .selector {
    display: flex;
    align-self: center;
  }

  .subselector {
    display: flex;
    align-self: center;
    border-width: 4px 0px 4px 4px;
    border-color: blue;
    border-style: solid;
    cursor: pointer;
    min-width:max-content;
    height: 2em;
    align-items: center;
    font-size: large;
    padding:0 5% 0 5%;
  }

  .dailydealMinus {
    border-right-width: 4px;
  }
  .saveworldMinus {
    border-right-width: 4px;
  }
  .choosecharMinus {
    border-right-width: 4px;
  }



  @media (max-width: 600px) {
    .topnav ul {
      display: none;
    }
  
    .topnav ul.show {
      display: block;
    }
  }
  @media only screen and (max-width: 600px) {
    figure {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
    figure img {
      width: 100%;
      height: auto;
    }
  }
 
  .btn-blue {
    background-color: #0924B0;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
  